/* base.html */

body {
  font-family:Arial, Helvetica, sans-serif;
  padding: 100px;
}
h1{
  text-align: center;
}
.navbar {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  max-width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(192, 222, 192, 100%);
  padding: 0 80px 0 80px;
}
.home {
  font-weight:bold;
  font-size: 30px;
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: rgb(27, 26, 24);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(192, 222, 192, 50%);
}
.navbar li{
  float: left;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

/* index.html */
.listings {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  border: 1px black solid;
  padding: 50px;
  margin: 20px;
}
.listing li {
  list-style: none;
  padding-right: 600px;
}
.listing a {
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: black;
}
.listing a:hover {
  text-decoration: underline;
}

/* show.html */

#calendar {
  width: 50vw;
  padding: 50px;
  border: 1px black solid;
}

/* add-listing.html */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px black solid;
  padding: 40px;
  margin: 20px;
}
.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.label {
  padding: 5px;
}
.input-box {
  padding: 5px;
}
.button {
  margin-top: 10px;
  padding: 5px;
}

/* bookings.html */
.user {
  padding-bottom: 10px;
  margin: 0;
}
.split-bookings {
}
.bookings {
  width: 600px;
  border: 1px solid black;
  padding: 10px 50px 10px 50px;
  margin-bottom: 50px;
}


/* signup.html */
.t-errors {
  color: red;
}
