/* base.html */

body {
  font-family:Arial, Helvetica, sans-serif;
  padding: 100px;
  cursor: default;
}
h1{
  text-align: center;
}
.navbar {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  max-width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(192, 222, 192, 100%);
  padding: 0 80px 0 80px;
}
.home {
  font-weight:bold;
  font-size: 30px;
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: rgb(27, 26, 24);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(192, 222, 192, 50%);
}
.navbar li{
  float: left;
}
.right li {
  background-color: rgb(166, 192, 166);
  border-radius: 30px;
  margin: 10px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

/* index.html */
.listings {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.76);
  border-radius: 20px;
  padding: 50px;
  margin: 20px;
  width: 40vw;
}
.listings a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: black;
}
.listings a:hover {
  color: rgb(166, 192, 166);
  font-weight: bold;
}
.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 15px 0 15px 0;
}
.sub-entry {
  width: 180px;
  height: 80px; 
  position: relative;
  overflow: hidden; 
  border-radius : 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 5px 10px 5px 20px;
}
.sub-entry-img {
  width: 200px;
  height: 140px; 
  position: relative;
  overflow: hidden; 
  border-radius : 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 5px 10px 5px 20px;
  border: 3px solid rgb(166, 192, 166);
}
.entry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

/* show.html */

#calendar {
  width: 40vw;
  padding: 50px;
  border: 1px black solid;
}
.custom-button a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}
.enter-dates {
  width: 40vw;
}
.custom-button{
  margin: 40px;
}
.custom-button a{
  cursor: pointer;
  font-size: 16px;
}
.custom-button:hover {
  text-decoration: underline;
}


/* add-listing.html */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 40px;
  margin: 20px;
  background-color: rgb(192, 222, 192, 50%);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.76);
}
.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.label {
  padding: 5px;
}
.input-box {
  padding: 5px;
}
.button {
  margin-top: 10px;
  padding: 5px;
}

/* bookings.html */
.user {
  padding-bottom: 10px;
  margin: 0;
}
.split-bookings {
}
.bookings {
  width: 600px;
  border: 1px solid black;
  padding: 10px 50px 10px 50px;
  margin-bottom: 50px;
  background-color: white;
}
.confirmation-buttons {
  margin-bottom: 50px;
}
button {
  cursor: pointer;
}



/* signup.html */
.t-errors {
  color: red;
}
