{% extends 'base.html' %}

{% block headings %} 

  <h1>Add new space</h1>

{% endblock %}

{% block content %} 
  <form method="POST", action="">
    {{ form.hidden_tag() }}

    <p>
      Name
      {{ form.name(id='nameField') }}
    </p>
    <p>
      Address
      {{ form.address(id='addressField') }}
    </p>
    <p>
      Description
      {{ form.description(id='descriptionField') }}
    </p>
    <p>
      Price Per Night
      {{ form.price(id='priceField') }}
    </p>
    <p>
      {{ form.submit(id='submitField') }}
    </p>
  </form>
{% endblock %}