<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB Website</title>
        <link rel="stylesheet" href="/static/style.css" >
        <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@6.1.10/index.global.min.js"></script>
    </head>
    <body>
      <nav class="navbar">
        <ul class="left">
          <li class="home"><a href="{{ url_for('get_index') }}">MakersBnb</a></li>
        </ul>
        <ul class="right">
          {% if account %}
          <li><a href="{{ url_for('add_space') }}">Add Space</a></li>
          <li><a href="{{ url_for('get_bookings')}}">Bookings</a></li>
          <li><a href="{{ url_for('logout')}}">Log Out</a></li>
          {% else %}
          <li><a href="{{ url_for('login')}}">Login</a></li>
          <li><a href="{{ url_for('get_signup')}}">Sign Up</a></li>
          {% endif %}
          {% block navbar_links %} {% endblock %}
        </ul>
      </nav>

      <main>
      {% block headings %} {% endblock %}
      {% block content %} {% endblock %}
      </main>
    </body>
</html>

