{% extends 'base.html' %}

{% block headings %} 
<h1>Bookings</h1>
{% endblock %}


{% block content %}



    <div class="content">
        <p class="user">
            Hello, {{ account }}!
        </p>
        <br>
        <div class="split-bookings">
            <div class="bookings">
                <h4>Received Requests</h4>
                <br>
                {% for booking in received %}
                    <form method="POST" action="{{ url_for('handle_booking_action', listing_id=booking.listing_id.id, booking_id=booking.id) }}">
                        <div>
                            <p>{{ received_names.get(booking.listing_id) }}</p>
                            <p>Check In: {{ booking.start_date }}</p>
                            <p>Check Out: {{ booking.end_date }}</p>
                            <p>Status: {{ booking.status }}</p><br>
                        </div>
                        {% if booking.status == 'Requested' %}
                            <div class="confirmation-buttons">
                                <button type="submit" name="action" value="accept" class="accept">Approve</button>
                                <button type="submit" name="action" value="deny" class="deny">Deny</button>
                            </div>
                        {% endif %}
                    </form>
                {% endfor %}
            </div>
            <div class="bookings">
                <h4>Sent Requests</h4>
                <br>
                {% for booking in requested %}
                    <div>
                        <p>{{ requested_names.get(booking.listing_id) }}</p>
                        <p>Check In: {{ booking.start_date }}</p>
                        <p>Check Out: {{ booking.end_date }}</p>
                        <p>Status: {{ booking.status }}</p><br>
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}