{% extends 'base.html' %}

{% block headings %} 

  <h1>Welcome to MakersBnb!</h1>
  <p>(This is the homepage)</p>

{% endblock %}

{% block content %}
      
  {% if account %}
      <p class="user">
          Hello, {{ account }}!
      </p>
  {% else %}
      <p class="user">
        Hello Guest!
      </p>
  {% endif %}

  {% for listing in listings %}
  <ul class="listing">
    <li>
      <a href='/listings/{{listing.id}}'>{{ listing.name }}</a><br>
      {{ listing.address }}<br>
      {{ listing.description }}<br> 
      £{{ listing.price }}<br><br>
    </li>
  </ul>
  {% endfor %}

{% endblock %}
