{% extends 'base.html' %}

{% block headings %} 

  <h1>Welcome to MakersBnb!</h1>

{% endblock %}

{% block content %}

{% if account %}
<p class="user">
    Hello, {{ account }}
</p>
{% else %}
<p class="user">
  Hello Guest
</p>
{% endif %}

<div class="listings">
  {% for listing in listings %}
      <div class="entry">
        <div class="sub-entry-img">
          {% if listing.image_filename %}
            <img src="{{ url_for('uploaded_file', filename=listing.image_filename) }}" alt="Listing Image" width="200">
          {% endif %}
        </div>
        <div class="sub-entry">
          <a href='/listings/{{listing.id}}'>{{ listing.name }}</a><br>
          {{ listing.address }}<br>
          £{{ listing.price }}<br>
        </div>
      </div>
  {% endfor %}
</div>
  
{% endblock %}
