<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Welcome to MakersBnb!</h1>
        <p>(This is the homepage)</p>
        <ul>
            {% for listing in listings %}
            <li>
                {{ listing.name }}<br>
                {{ listing.address }}<br>
                {{ listing.description }}<br> 
                £{{ listing.price }}<br>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
