{% extends 'base.html' %}

{% block navbar_links %}
{% endblock %}

{% block headings %}

  <h1>Log In</h1>

{% endblock %}

{% block content %}
      <!-- This creates a form that will submit to POST /login -->
  <form action="/login" method="post">

    <!-- We check to see if there are any errors from a previous submission -->
    {% if error %}
        <p class="t-errors">
            {{ error }}
        </p>
    {% endif %}

    <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
    </p>
    <p>
        <!-- `type` is submit here, to indicate it is a button -->
        <!-- `value` is used as the button's text -->
        <input type="submit" value="Log On">
    </p>
  </form>

  {% endblock %}
