{% extends 'base.html' %}

{% block headings %}

  <h1>Log In</h1>

{% endblock %}

{% block content %}

{% if error_message %}
  <p class="t-errors">{{ error_message }}</p>
{% endif %}

<div class="content">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-input">
      <p class="label">Email</p>
      <p class="input-box">{{ form.email(id='emailField') }}</p>
    </div>
    <div class="form-input">
      <p class="label">Password</p>
      <p class="input-box">{{ form.password(id='passwordField') }}</p>
    </div>
    <div class="button">
      {{ form.submit(id='submitField') }}
    </div>
  </form>
</div>
  
{% endblock %}
