{% extends 'base.html' %}

{% block content %}
    <h1>{{ listing.name }}</h1>
    <p class="address">Address: {{ listing.address }}</p>
    <p>Description: {{ listing.description }}</p>
    <p>Price: £{{ listing.price }}</p>
    <br>
    <br>
    
    <!-- Add a div element to contain the calendar -->
    <div id="calendar"></div>
    <br>
    <a href="">Book</a>
    <!-- Include the FullCalendar library and initialize the calendar -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
                
            // Initialize FullCalendar with the events data
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                selectable: true,
                events: {{ availability_json | safe }}
            });

            calendar.render();
        });
    </script>
        
{% endblock %}