{% extends 'base.html' %}

{% block headings %}

  <h1>Sign Up</h1>

{% endblock %}

{% block content %}

  <!-- This creates a form that will submit to POST /signup -->
  <form action="/signup" method="post">

      <!-- We check to see if there are any errors from a previous submission -->
    {% if error %}
        <p class="t-errors">
            {{ error }}
        </p>
    {% endif %}

    {% if form.errors %}
    <ul class="t-errors">
      {% for field, errors in form.errors.items() %}
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  {{ form.hidden_tag() }}

  <p>
    Username
    {{ form.username(id='usernameField') }}
  </p>
  <p>
    First Name
    {{ form.firstname(id='firstnameField') }}
  </p>
  <p>
    Second Name
    {{ form.lastname(id='lastnameField') }}
  </p>
  <p>
    Email
    {{ form.email(id='emailField') }}
  </p>
  <p>
    Phone Number
    {{ form.phone(id='phoneField')}}
  </p>
  <p>
    Password
    {{ form.password(id='passwordField') }}
  </p>
  <p>
    {{ form.submit(id='submitField') }}
  </p>

{% endblock %}